.o_main_navbar{
    border-color: transparent!important;
    background-color: #3E5D7F!important;
}

.o_main_navbar > ul > li > a:hover,
.o_main_navbar > ul > li > a:focus{
    background-color: #5280b3 !important;
}
.o_main_navbar > a:hover,
.o_main_navbar > button:hover,
.o_main_navbar > a:focus,
.o_main_navbar > button:focus
{
    background: #5280b3;
}
.o_main_navbar .show .dropdown-toggle{
    background-color: #5280b3;
}
.o_home_menu_background{
    background: url(/odex_backend_theme/static/src/images/app_drawer.jpeg) no-repeat center/cover!important;
}

#about .o_setting_right_pane img{
    height: 60px;
}
.o_home_menu_background:not(.o_home_menu_background_custom) .o_main_navbar{
    background: transparent!important;
}


.o_searchview .o_searchview_facet .o_searchview_facet_label{
    background-color: #5280b3;
}

.o_view_nocontent .o_nocontent_help .o_view_nocontent_smiling_face:before{
    background: transparent url(/odex_backend_theme/static/src/images/smiling_face.svg) no-repeat center;
}
.o_loading{
    background-color: #5280b3;
}

.o_tooltip::before{
    background: radial-gradient(#3d5774, #3e5d7f);
}

.o_tooltip.active{
    border: 3px solid #5280b3!important;
}

.btn-fill-primary, .btn-primary{
    background-color: #5280b3;
    border-color: #3E5D7F;
}

.btn-fill-primary:hover, .btn-primary:hover{
    background-color: #3E5D7F!important;
    border-color: #3E5D7F;
}

.o_barcode_client_action .o_barcode_header{
    background-color: #5280b3;
}
.o_barcode_client_action .o_barcode_lines_header{
    background-color: #5280b3;
}
.o_onboarding.o_onboarding_violet .o_onboarding_wrap{
    background-color: rgb(39 120 63 / 60%);
    background-image: linear-gradient(to bottom, rgba(96, 112, 195, 0.5), #5280b3);
}
.o_onboarding.o_onboarding_orange .o_onboarding_wrap{
    background-color: rgb(39 120 63 / 60%);
    background-image: linear-gradient(to bottom, rgba(96, 112, 195, 0.5), #5280b3);
}
.o_MessagingMenu_counter{
    
}