

.o_kanban_view.o_kanban_ungrouped.o_kanban_dashboard.o_maintenance_summary {

    .panel.large {
        width: 70%;
    }
    .panel.med {
        width: 45%;
        }
    
    .o_kanban_record{
            background-color: white;
            border: none;
    }

    .box-title{
        font-weight: bold;
    }

    .panel-title{
        font-size: 16px;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        letter-spacing: 0;
        font-weight: bold;
        color: #888888;
        padding: 0 0 4px;
        border-bottom: 1px solid #F2F2F2;
        
    }

    .boxes{
        display: table;
        border-spacing: 12px;
        font-size: 14px;
        margin-top:5px;
        width: 100%; /*Optional*/
    }

    .box{
        padding-left: 10px;
        padding-right: 10px;
        border-color: #ced4da;
        border: 1px solid #dee2e6;
        background-color: white;
        color: #5D8DA8;
        text-align: center;
        margin-top:50px;
        width: 150px;
        height: 150px;
        display: table-cell;
    }

    .box:hover{
        color: #324e5d;
    }
    .box-title{
        margin: 10px;
        margin-top: 50px;
    }

    .box-content{
        margin: 15px;
    }

    .danger{
        color: #dc3545;
    }

    .done{
        color:#28a745;
    }
}


