// web/login
//////////////

// Web Top Navbar BG Color
$top-nav-bg-color: #137DC5;

// Loginm Form Elements
$form_bg_color: white;
$label_color: white;
$span_label_color: white;
$inputs_font_color: #137DC5;
$inputs_outline: rgb(155, 155, 155);
$inputs_outline_hover: #51769e;;
$login_buttons_bg: #137DC5;;
$login_buttons_bg_hover: #3E5D7F;
$buttons_font_color: white;
$buttons_font_color_hover: white;
$login_bg_img: none;


// Apps Home page
//////////////////

$apps_bg_img: url(../img/app_drawer.jpeg);

$app_name_color: white;
$app_hover_bg_color: rgba(255, 255, 255, 0.2);

// Navbar
//////////

$navbar_bg_color: #3E5D7F;
$navbar_toggle: #5280b3;

$slection_app_color: white;
$selection_app_bg_hover: #51769e;

$navbar_left_ul_color: white;
$navbar_left_ul_bg_color_hover: #51769e;
$navbar_left_ul_dropdown_bg_color: white;
$navbar_left_ul_dropdown_item_color: #51769e;;
$navbar_left_ul_dropdown_item_bg_color: white;
$navbar_left_ul_dropdown_item_color_hover: white;
$navbar_left_ul_dropdown_item_hover_color: #51769e;;

$navbar_right_ul_li_hover_bg_color: #51769e;
$navbar_right_ul_li_icons_color: #5280b3;
$navbar_right_ul_li_icons_border_color: #5280b3;
$navbar_ul_show_bg_color: #51769e;
$navbar_right_ul_dropdown_bg_color: white;
$navbar_right_ul_dropdown_item_color: #51769e;;
$navbar_right_ul_dropdown_item_bg_color: white;
$navbar_right_ul_dropdown_item_color_hover: white;
$navbar_right_ul_dropdown_item_hover_color: #51769e;;

// Dashboard Content

////////// SideBar ///////////////
$filter_icon_bg_color: #51769e;;

$sidebar_categories_icon_color: #51769e;;
$sidebar_categories_item_color: #5280b3;
$sidebar_categories_item_bg_color: #5280b3;
$sidebar_categories_item_hover_active_color: #5280b3;
$sidebar_categories_item_bg_hover_active_color: #96A7B9;

////////// Apps Window //////////
$apps_more_info: #51769e;;
$apps_install_color: white;
$apps_install_bg_color: #51769e;;
$apps_upgrade_color: white;
$apps_upgrade_bg_color: #51769e;

////////// Setting Module //////////
$sections_titles_color: white;
$sections_titles_bg: #51769e;;




