.o_web_client .o_real_estate_property_kanban {

    .o_follow_btn.o_following {
        .o_unfollow {
            display: none;
        }

        &:hover {
            .o_following {
                display: none;
            }
            .o_unfollow {
                display: inline;
            }
        }
    }

    .o_property_summary_icons > span {
        white-space: nowrap;
    }
}
